html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.bg {
  background-image: url("https://joni-tourino.github.io/2030-ice-phase-out/images/image-right.jpg");
  height: 50%;

  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background-image: url("https://joni-tourino.github.io/2030-ice-phase-out/images/image-left.jpg");
  height: 50%;

  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-img {
  width: 100%;
  height: 50%;
  background: url('https://joni-tourino.github.io/2030-ice-phase-out/images/image-right.jpg');
  background-size: cover;
}
