/* Article style */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", "Montserrat", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3.052rem;
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.563rem;
  font-weight: 400;
}

h3 {
  margin-bottom: 20px;
}

p {
  font-size: 1.25rem;
  line-height: 1.953rem;
}

p.dashed {
  border-bottom: 3px dashed;
  width: 25%;
  position: relative;
  display: inline-block;
  text-align: center;
}

.bg {
  background-image: url("https://joni-tourino.github.io/2030-ice-phase-out/img/index-evclicks.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: table-cell;
  color: #fff;
  padding: 0.625rem;
  vertical-align: middle;
}

.nissan-header {
  background-image: url("https://joni-tourino.github.io/2030-ice-phase-out/img/Nissan-Leaf.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: table-cell;
  color: #fff;
  padding: 0.625rem;
  vertical-align: middle;
}

.coventry-header {
  background-image: url("https://joni-tourino.github.io/2030-ice-phase-out/img/Coventry-by-Georgi-Kyurpanov.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: table-cell;
  color: #fff;
  padding: 0.625rem;
  vertical-align: middle;
}

.credit {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 12px;
  color: #fff;
}

/* figure.stepimg {
  display: inline-block;
  width: 800px;
} */

img {
  display: inline-block;
  max-width: 800px;
  position: relative;
  align-content: center;
}

.caption {
  display: block;
  align-self: start;
}

/* .bg2 {
  background-image: url("img/image-left.jpg");
  height: 50%;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.header-img {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: table;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.container-hd {
  background-image: url("https://joni-tourino.github.io/2030-ice-phase-out/img/chargepoint-cardiff.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: table-cell;
  padding: 0.625rem;
  vertical-align: middle;
}

.container-itw {
  background-image: url("https://joni-tourino.github.io/2030-ice-phase-out/img/Gill Nowell_Kia eNiro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: table-cell;
  padding: 0.625rem;
  vertical-align: middle;
}

.container-hd h1 {
  font-size: 2.5rem;
  margin: 2rem;
}

.container-hd post-subheading {
  font-size: 2rem;
  margin: 2rem;
  color: #fff;
}

.post-subheading {
  font-size: 2rem;
  line-height: 1.5rem;
}

.byline {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: fit-content;
}

/* article content */

abbr {
  position: relative;
}

.content {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 800px;
  margin-bottom: 1em;
  line-height: 1.6em;
  margin-top: 0.3em;
}

.newsarticle {
  background-color: lightblue;
  width: 300px;
  border: 2px solid green;
  padding: 30px;
  margin: 15px;
}

#content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 20px;
  line-height: 1.6em;
}

/* scrolly */

/* #scroll {
  position: relative;
}

.chart {
  margin-top: auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.filler {
  height: 20rem;
  text-align: center;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__graphic .chart {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll__text {
  padding: 0 1rem;
  max-width: 30rem;
}

.step {
  opacity: 0;
  padding: 1rem;
}

.step.is-active {
  opacity: 1;
} */

/* Button */

#content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 500px;
  line-height: 1.6em;
}

#datawrapper-chart-U4Ma6 {
  display: none;
}

#datawrapper-chart-pGox9 {
  display: none;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 14px;
  color: white;
  padding: 11px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

/* .item-text {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
} */

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button2:hover {
  background-color: #4caf50;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button3:hover {
  background-color: #4caf50;
  color: white;
}

/* .divbutton2 {
  display: hide;
} */
